body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
li {
  cursor: pointer;
}
del {
  color: red;
}

.card {
  margin-bottom: 30px;
}
/* .card-title {
  height: 35px;
  text-align: center;
} */
img {
  display: block;
  object-fit: contain;
 
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background-color: aliceblue;
}

body {
  overflow-x: hidden;
}
